<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container login-container">
  <div class="row">
    <div class="col-md-6 login-form-1">
      <h2>Register</h2>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">

        <div class="form-group">
          <form>
            <select formControlName="employee">
              <option [value]="employee" *ngFor="let employee of employees">{{employee.uuid}}</option>
            </select>
          </form>
        </div>

        <div class="form-group">
          <input type="text" name="user" ngModel required #username="ngModel"
                 class="form-control" placeholder="Employee phone number *" value=""/>
        </div>

        <div class="form-group">
          <input type="password" name="password" ngModel required #password="ngModel"
                 class="form-control" placeholder="Your password *" value=""/>
        </div>

        <div class="form-group">
          <input type="password" name="password" ngModel required #password="ngModel"
                 class="form-control" placeholder="Repeat Password *" value=""/>
        </div>

        <div class="form-group">
          <input type="submit" [disabled]="f.invalid"
                 class="btnSubmit" value="Register"/>
        </div>
      </form>
    </div>
  </div>
</div>
