<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
    <div class="navbar-nav" style="margin-left: 15%">
      <a class="nav-item nav-link" (click)="logout()">Warehouse</a>
      <a class="nav-item nav-link" (click)="logout()">Supply</a>
    </div>
  </div>
</nav>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>
