<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
    <div class="navbar-nav" style="margin-left: 15%">
      <a class="nav-item nav-link" [routerLink]="['/employee']" routerLinkActive="$router_link-active$">Employees</a>
      <a class="nav-item nav-link" [routerLink]="['/product']" routerLinkActive="$router_link-active$">Products</a>
      <a class="nav-item nav-link" [routerLink]="['/department']" routerLinkActive="$router_link-active$">Departments</a>
      <a class="nav-item nav-link" [routerLink]="['/ordering']" routerLinkActive="$router_link-active$">Orderings</a>
    </div>
  </div>
</nav>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>
