<div class="background-wrap">
  <div class="background"></div>
</div>

<div class="p-container">
    <div class="nvbr d-flex p-2 justify-content-between bg-secondary">
      <h2 class="text-light">Ordering list</h2>
      <div class="buttons d-flex align-center">
        <button class="btn btn-danger mr-1" (click)="open(content)"><i class="fa fa-plus-square"></i> Add ordering</button>
        <button type="button" class="btn btn-primary mr-1"><i class="fa fa-print"></i> PrintReport</button>
        <!--        <button type="button" class="btn btn-primary mr-1" (click)="printReport()"><i class="fa fa-print"></i> PrintReport</button>-->

      </div>
    </div>
  </div>

    <table id="#orderings" class="table table-dark">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product Name</th>
        <th scope="col">Employee</th>
        <th scope="col">Product Quantity</th>
        <th scope="col">Department</th>
        <th scope="col">Action</th>

      </tr>
      </thead>
      <tbody *ngFor="let ordering of responseOrderings">
      <tr>
        <td>{{ordering.uuid}}</td>
        <span *ngFor="let productUnit of ordering.productUnitList">
          <td>{{productUnit.product.name}}</td>
        </span>
        <td>{{ordering.employee.firstName}}</td>
        <span *ngFor="let productUnit of ordering.productUnitList">
          <td>{{productUnit.quantity}}</td>
        </span>
        <td>{{ordering.department.address}}</td>

      <td><a (click)="deleteOrdering(ordering.uuid)"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
      </tr>
      </tbody>
    </table>


<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="addEmployeeModalLabel">Add Ordering</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">&times;</button>
  </div>
  <div class="modal-body">
    <form #addForm="ngForm">
      <div class="form-group">
        <label for="name">Product Name</label>
        <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Product Name" required>
      </div>
      <div class="form-group">
        <label for="price">Product Price</label>
        <input type="number" ngModel name="price" class="form-control" id="price" placeholder="Price" required>
      </div>
      <div class="form-group">
        <label for="price">Employee</label>
        <input type="text" ngModel name="employee" class="form-control" id="employee" placeholder="Employee" required>
      </div>

      <div class="form-group">
        <label for="price">Department</label>
        <input type="text" ngModel name="department" class="form-control" id="department" placeholder="Department" required>
      </div>

      <div class="form-group">
        <label for="price">Date</label>
        <input type="date" ngModel name="date" class="form-control" id="date" placeholder="Price" required>
      </div>
      <div class="modal-footer">
        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
      </div>
    </form>
  </div>
</ng-template>

