
<div class="background-wrap">
  <div class="background"></div>
</div>

<form id="accesspanel" action="">
  <div class="p-container">
<!--    <input type="submit" (click)="getProducts()">-->

    <div class="nvbr d-flex p-2 justify-content-between bg-secondary">
      <h2 class="text-light">Product list</h2>
      <div class="buttons d-flex align-center">
        <button class="btn btn-danger mr-1" (click)="open(content)"><i class="fa fa-plus-square"></i> Add product</button>
        <button type="button" class="btn btn-primary p-1" (click)="printReport()"><i class="fa fa-print"></i> PrintReport</button>

      </div>
    </div>
    <table id="products" class="table table-dark">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody *ngFor="let product of products">
      <tr>
        <th scope="row">{{product.uuid}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td><a (click)="deleteProduct(product.name)"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
      </tr>

      </tbody>
    </table>
  </div>
</form>

<!--  finding example-->
<input type="text" #findingName="ngModel" ngModel=""
       name="key" id="find" placeholder="Find product" required>
<button (click)="getProduct(findingName.value)"><i></i> Find product</button>
<div>
  <!--<div>{{responseDepartment.address}}</div>
  <div>{{responseDepartment.uuid}}</div>-->
</div>

<ng-template #content let-modal>
        <div class="modal-header">
          <h5 class="modal-title" id="addEmployeeModalLabel">Add Product</h5>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">&times;</button>
        </div>
  <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="saveProduct(addForm)">
            <div class="form-group">
              <label for="name">Product Name</label>
              <input type="text" ngModel="" name="name" class="form-control" id="name" placeholder="Product Name" required>
            </div>
            <div class="form-group">
              <label for="price">Price</label>
              <input type="number" ngModel="" name="price" class="form-control" id="price" placeholder="Price" required>
            </div>
            <div class="modal-footer">
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>
          </form>
        </div>
</ng-template>
